<div class="container">
    <div>
        <p>
            <span>Studmail</span>
            <span>+{{events.mailnew}}</span>
            <span>({{events.mailtotal}})</span>
        </p>
        <img src="assets/icons/email.png" (click)="onEmail()"/>
    </div>
    <div>
        <p>
            <span>Ankündigungen</span>
            <span>+{{events.announnew}}</span>
            <span>({{events.annountotal}})</span>
        </p>
        <img src="assets/icons/megaphone.png" (click)="onAnnounces()"/>
    </div>
</div>